In [1]:
from classes.scraping import * 
from classes.utils import * 
from classes.db_utils import * 
import psycopg2
import pandas.io.sql as sqlio

In [2]:
res = get_url_matches()

In [14]:
len(list(set(codes_match)))

349

In [ ]:
conn = connect()

In [ ]:
truncate_table("RANKING", conn)

In [ ]:
for i, row in ranking_df.iterrows():
    values = tuple(row)
    insert_values_into_db(conn, "RANKING", values)

In [ ]:
query = """SELECT * FROM "RANKING";"""

In [ ]:
#pd.read_sql(query, conn)

In [ ]:
conn.close()

In [ ]:
conn = connect()
query = """SELECT * FROM "RANKING";"""
#pd.read_sql(query, conn)

In [ ]:
conn.close()

In [ ]:
#for i in ranking_df['TEAM']:
    #print(i)

In [ ]:
type(ranking_df['TEAM'])

In [ ]:
conn.close()

In [ ]:
engine()

In [ ]:
get_teams_stats('attack')

In [ ]:
get_match_story()

In [4]:
import pandas as pd
url = "https://www.lnb.fr/fr/prob/match/fos-sur-mer-rouen-201666835.html#stats"
res = pd.read_html(url)

In [9]:
res[0].columns[0][0]

'Fos-sur-Mer'

In [ ]:
res[1].columns[0][0]

In [ ]:
conn = connect()
cursor = conn.cursor()

query = """SELECT * FROM "TEAMS" """
cursor.execute(query)
data = cursor.fetchall()

In [ ]:
import pandas.io.sql as sqlio

In [ ]:
df = select_table("TEAMS", conn)

In [ ]:
df['TEAM'].iloc[0]

In [10]:
import requests
from bs4 import BeautifulSoup

url = "https://www.lnb.fr/fr/"

f = requests.get(url)

In [2]:
conn = connect()
select_table("MATCH", conn)

Empty DataFrame
Columns: [match_id, day, date, home_team, away_team]
Index: []

In [3]:
url_match = "https://www.lnb.fr/fr/prob/match/--201666776.html#stats"

conn = db.connect()

page = requests.get(url_match)
soup = BeautifulSoup(page.content, "html.parser")


res = soup.find("div", {"class":"game-result"}).text.strip()

In [5]:
res = get_match_info(url_match)

In [8]:
pd.DataFrame(data=[res])

   match_id  match_day match_date home_team away_team  match_status
0      9910          9 2021-03-21     Nancy    Nantes          True

In [9]:
url = "https://www.lnb.fr/fr/prob/match/--201666776.html#stats"

In [10]:
int(re.findall('\d+', url)[0])

201666776