In [1]:
from scraping import *

In [2]:
df = get_teams_stats("attack")

In [3]:
df.columns

Index(['Equipes', 'MJ', 'Min', 'Pts', 'O', 'D', 'T', 'Pr', 'Ct', 'Pd', 'In',
       'Bp', 'Fte', 'Fpr', 'Év', 'shoots_in', 'shoots_total', 'three_pts_in',
       'three_pts_total', 'lf_in', 'lf_total'],
      dtype='object')

In [4]:
df

,Equipes,MJ,Min,Pts,O,D,T,Pr,Ct,Pd,...,Bp,Fte,Fpr,Év,shoots_in,shoots_total,three_pts_in,three_pts_total,lf_in,lf_total
0,Aix-Maurienne,33,6725,2545,365,749,1114,42,78,592,...,432,643,606,2797,949,2100,210,673,437,606
1,Antibes,34,6825,2501,383,889,1272,129,80,528,...,522,653,643,2754,932,2097,209,677,428,633
2,Blois,32,6450,2553,372,800,1172,100,77,635,...,473,633,601,2967,943,2060,241,757,426,582
3,Denain,33,6625,2511,368,857,1225,55,88,567,...,440,664,585,2835,923,2078,244,773,421,563
4,Evreux,34,6900,2710,304,832,1136,56,85,657,...,468,663,612,3099,1000,2141,264,761,446,593
5,Fos-sur-Mer,34,6875,2816,343,869,1212,87,88,702,...,466,696,620,3337,1017,2152,323,847,459,604
6,Gries-Oberhoffen,33,6625,2812,379,843,1222,96,81,621,...,467,624,661,3201,978,2071,372,1024,484,642
7,Lille,33,6675,2504,355,803,1158,85,98,637,...,452,636,595,2888,950,2088,253,765,351,502
8,Nancy,34,6850,2850,350,837,1187,88,83,677,...,475,648,677,3290,1003,2151,362,963,482,634
9,Nantes,34,6850,2687,258,896,1154,104,71,635,...,500,626,617,3132,991,2078,234,686,471,632
10,Paris,34,6825,2921,355,863,1218,129,53,670,...,510,594,645,3457,1047,2127,358,919,469,617
11,Poitiers,34,6875,2524,303,765,1068,73,80,627,...,515,608,650,2686,920,2063,276,807,408,593
12,Quimper,34,6825,2682,307,826,1133,59,107,660,...,466,692,682,3070,968,2091,277,743,469,592
13,Rouen,32,6550,2584,345,797,1142,71,71,570,...,455,624,611,2868,953,2033,273,765,405,593
14,Saint-Chamond,34,6825,2682,309,868,1177,69,77,663,...,472,676,684,3006,943,2065,323,898,473,645
15,Saint-Quentin,34,6800,2858,354,842,1196,57,71,615,...,400,646,614,3253,1054,2236,343,962,407,555
16,Souffelweyersheim,34,6850,2673,351,873,1224,100,86,626,...,458,663,644,3086,964,2126,318,901,427,577
17,Vichy-Clermont,34,6800,2870,383,916,1299,68,94,650,...,542,722,746,3233,995,2157,304,790,576,756